@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Apply to all headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Bricolage Grotesque", var(--font-sans);
}

.prose h1,
.prose h2 {
  font-family: "Bricolage Grotesque", var(--font-sans) !important;
}